<footer class="page-footer teal">
  <div class="footer-copyright">
    <div class="container">
      Made by Khinshan Khan &copy;
      <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>
      <div class="social right">
	<a class="white-text text-lighten-3" href="https://github.com/kkhan01">
	  <i class="fab fa-github"></i>
	</a>
	<a class="white-text text-lighten-3" href="https://linkedin.com/in/khinshankhan">
	  <i class="fab fa-linkedin-in"></i>
	</a>
	<a class="white-text text-lighten-3" href="https://fb.com/khinshan.khan">
	  <i class="fab fa-facebook-f"></i>
	</a>
      </div>
    </div>
  </div>
  <!--Produced by Khinshan Khan-->
</footer>
