<header>

  <!-- Blog Dropdown Contents -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ url_for('posts') }}">Posts</a></li>
    <li><a href="{{ url_for('tags') }}">Tags</a></li>
    <li class="divider"></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li><a href="{{ url_for('posts') }}">Posts</a></li>
    <li><a href="{{ url_for('tags') }}">Tags</a></li>
    <li class="divider"></li>
  </ul>
  
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo" href="{{ url_for('index') }}">
        <img id="logo" src="{{ url_for('static', filename='img/k_0.png') }}" alt="K Logo">
      </a>
      
      <!-- Full Navbar -->
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
	<li><a href="/static/files/resume.pdf">Resume</a></li>
	<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      
      <!-- Mobile Navbar -->
      <ul id="nav-mobile" class="sidenav">
	<li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
	<li><a href="/static/files/resume.pdf">Resume</a></li>
	<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
