<div class="row">
  <div class="col m12">
    <div class="card-panel">
      <h4 class="center-align">Recent Posts</h4>
      <ul class="collection" id="collection">
	{% set count = 0 %}
	{% for page in (pages|sort(attribute='date', reverse = True))[:3] %}
	<li class="collection-item avatar" id="item-template">
	  <h5><span class={{page.title}}>{{page.title}}</span></h5>
	  <p>{{ page.date }}</p>
	  <a href="{{ url_for("post", name=page.name) }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
	</li>
	{% else %}
	<li class="center"> <h5> So sorry! No posts at this time! <h5> </li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
