{% extends "base.html" %}

{% block style %}
<style>
  a {
  color:inherit;
  text-decoration: none;
  }
</style>
{% endblock %}

{% block c_title %}
Posts | Khinshan Khan
{% endblock %}



{% block content %}

<table class="highlight" id="myTable">
  <thead>
    <tr>
      <th><h4><b>Posts</b></h4></th>
    </tr>
  </thead>

  <tbody>
    {% for page in (posts|sort(attribute='date', reverse = True)) %}
    {% set path = page.path.split('/')[1] %}
    <tr>
      <td>
        <a href="{{ url_for("post", name=path) }}">
          <b>{{page.title}}</b>
          <br>
          <i>{{page.date}}</i>
        </a>
	<br>
	{% if page.meta.tags|length %}
        Tags:
        {% for page_tag in page.meta.tags %}
	<span class="new badge" data-badge-caption="">
          <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
	</span>
        {% endfor %}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="col-md-12 center text-center">
  <span class="left" id="total_reg"></span>
  <ul class="pagination pager" id="myPager"></ul>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/pagination.js') }}"></script>

<script>
  $(document).ready(function(){
  $('#myTable').pageMe({
  pagerSelector:'#myPager',
  activeColor: 'blue',
  prevText:'Anterior',
  nextText:'Siguiente',
  showPrevNext:true,
  hidePageNumbers:false,
  perPage:1
  });
  });
</script>
{% endblock %}
