{% extends "base.html" %}

{% block style %}
<style>
 a {
     color:inherit;
     text-decoration: none;
 }
</style>
{% endblock %}

{% block c_title %}
Posts | Khinshan Khan
{% endblock %}



{% block content %}

<table class="highlight">
    <thead>
        <tr>
            <th><h4><b>Posts</b></h4></th>
        </tr>
    </thead>

    <tbody>
        {% for page in (posts|sort(attribute='date', reverse = True)) %}
        {% set path = page.path.split('/')[1] %}
        <tr>
            <td>
                <a href="{{ url_for("post", name=path) }}">
                    <b>{{page.title}}</b>
                    <br>
                    <i>{{page.date}}</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
