{% extends "base.html" %}

{% block style %}
<style type="text/css">
  span.badge{
  float: none !important;
  }

  a {
  color:white;
  text-decoration: none;
  }
</style>
{% endblock %}

{% block c_title %}
Tags | Khinshan Khan
{% endblock %}

{% block content %}
<h4><b>Tags</b></h4>
<br>

<div class="row">
  {% for tagg in tags %}
  <div class="col s4 m3 l2">
    <div class="chip teal">
      <a href="{{ url_for("tag", tag=tagg) }}">{{ tagg }}</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
